@use "../functions" as *;
@use "../mixins" as *;

.mobile-menu {
  @include size(2rem);
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
  background: url("../images/icon-hamburger.svg") no-repeat center / 80%;
  cursor: pointer;
  transition: background 0.2s ease;

  &:checked {
    background: url("../images/icon-close.svg") no-repeat center / 80%;
  }

  @media screen and (min-width: 961px) {
    display: none;
  }
}
