<header class="header">
  <a href="/" class="header__homelink" title="homepage">
    <span>homepage</span>
    <icon
      src="./images/logo.svg"
      class="header__homelink-logo"
      role="presentation"
    ></icon>
  </a>
  <input
    type="checkbox"
    role="button"
    title="mobile-menu"
    class="mobile-menu header__mobile-menu"
  />
  <nav class="nav header__nav">
    <ul class="nav-menu">
      <li class="nav-menu__item">
        <a href="/" class="nav-menu__link"> Product </a>
      </li>
      <li class="nav-menu__item">
        <a href="/" class="nav-menu__link"> Features </a>
      </li>
      <li class="nav-menu__item">
        <a href="/" class="nav-menu__link"> Pricing </a>
      </li>
      <li class="nav-menu__item">
        <a href="/" class="nav-menu__link"> Login </a>
      </li>
    </ul>
  </nav>
</header>
