html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  font: 400 1.125rem / 1.5 "Barlow", sans-serif;
  color: var(--off-black);

  &.no-scroll {
    overflow-y: hidden;
  }
}

@for $i from 1 through 6 {
  h#{$i} {
    font-weight: 700;
    line-height: 1.1;
    font-family: "Barlow Condensed", sans-serif;
  }
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

strong {
  font-weight: 700;
}
